{{ 'section-content-tabs.css' | asset_url | stylesheet_tag }}
{{ 'content-tabs.js' | asset_url | script_tag }}

<div class="content-tabs-section color-background-1 background">
  <div class="content-tabs-section-padding">

    <div class="content-tabs__titles titles titles--center">
      <h2 class="content-tabs__title title h3">{{ section.settings.title }}</h2>
    </div>

    <div class="content-tabs__wrapper">
      <div class="content-tabs__tabs">
        <div class="content-tabs__tabs-wrapper content-tabs__tabs-wrapper--5 content-tabs__tabs-wrapper--equal">
          <div class="content-tabs__tab content-tabs__tab--active focus-inset" data-content-tab-id="#content-tab-tech-specs" tabindex="0">
            <span>{{ section.settings.tab1_title }}</span>
          </div>
          <div class="content-tabs__tab focus-inset" data-content-tab-id="#content-tab-description" tabindex="0">
            <span>{{ section.settings.tab2_title }}</span>
          </div>
          <div class="content-tabs__tab focus-inset" data-content-tab-id="#content-tab-whats-included" tabindex="0">
            <span>{{ section.settings.tab3_title }}</span>
          </div>
          <div class="content-tabs__tab focus-inset" data-content-tab-id="#content-tab-battery-life" tabindex="0">
            <span>{{ section.settings.tab4_title }}</span>
          </div>
          <div class="content-tabs__tab focus-inset" data-content-tab-id="#content-tab-requirements" tabindex="0">
            <span>{{ section.settings.tab5_title }}</span>
          </div>
        </div>
      </div>

      <div class="content-tabs__content content-tabs__content--2-column content-tabs__content--active animate left" data-content-tab-id="#content-tab-tech-specs">
        {{ section.settings.tab1_content }}
      </div>

      <div class="content-tabs__content content-tabs__content--2-column left" data-content-tab-id="#content-tab-description">
        {{ section.settings.tab2_content }}
      </div>

      <div class="content-tabs__content content-tabs__content--2-column left" data-content-tab-id="#content-tab-whats-included">
        {{ section.settings.tab3_content }}
      </div>

      <div class="content-tabs__content content-tabs__content--2-column left" data-content-tab-id="#content-tab-battery-life">
        {{ section.settings.tab4_content }}
      </div>

      <div class="content-tabs__content content-tabs__content--2-column left" data-content-tab-id="#content-tab-requirements">
        {{ section.settings.tab5_content }}
      </div>

    </div>
  </div>
</div>


{% schema %}
{
  "name": "Pestañas de Contenido",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Título principal",
      "default": "Especificaciones Técnicas"
    },
    {
      "type": "text",
      "id": "tab1_title",
      "label": "Título pestaña 1",
      "default": "Especificaciones"
    },
    {
      "type": "richtext",
      "id": "tab1_content",
      "label": "Contenido pestaña 1",
      "default": "<p>Agrega aquí las especificaciones técnicas.</p>"
    },
    {
      "type": "text",
      "id": "tab2_title",
      "label": "Título pestaña 2",
      "default": "Descripción"
    },
    {
      "type": "richtext",
      "id": "tab2_content",
      "label": "Contenido pestaña 2",
      "default": "<p>Agrega aquí la descripción del producto.</p>"
    },
    {
      "type": "text",
      "id": "tab3_title",
      "label": "Título pestaña 3",
      "default": "Qué incluye"
    },
    {
      "type": "richtext",
      "id": "tab3_content",
      "label": "Contenido pestaña 3",
      "default": "<p>Agrega aquí el contenido de lo que incluye.</p>"
    },
    {
      "type": "text",
      "id": "tab4_title",
      "label": "Título pestaña 4",
      "default": "Batería"
    },
    {
      "type": "richtext",
      "id": "tab4_content",
      "label": "Contenido pestaña 4",
      "default": "<p>Agrega aquí la información de la batería.</p>"
    },
    {
      "type": "text",
      "id": "tab5_title",
      "label": "Título pestaña 5",
      "default": "Requisitos"
    },
    {
      "type": "richtext",
      "id": "tab5_content",
      "label": "Contenido pestaña 5",
      "default": "<p>Agrega aquí los requisitos.</p>"
    }
  ],
  "presets": [
    {
      "name": "Pestañas de Contenido"
    }
  ]
}
{% endschema %}